{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href=" {% static 'bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href=" {% static 'css/pg.css' %}">
<script src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.min.js'%}"></script>
{% block content %}
<html><head>
   
  </head>
  
  <body>
  
    <div class="content">
        <h6 style=" color : rgb(109, 105, 105)"><span>Gestion des contrats ></span> Ajouter un contrat</h6>
        <div class="white-square">
          <div id="Id_contrat" class="container-fluid mb-5" style="padding-left: 60px;">
            <h5 style=" color : gray">Identification du contrat</h5>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4 mb-5" class="form-group">
                <label>Contrat*</label>
                <input id="ma_bordure" type="text" style="height: 30px; width: 80%;" placeholder="Titre du contrat"
                  class="form-control">
              </div>
              <div class="col-md-4 mb-5" class="form-group">
                <label>Semestre*</label>
                <div class="input-group mb-2" style="height: 30px; width: 80%;">
                  <div class="input-group-text" style="height: 30px; width: 15%;">De</div>
                  <input type="text" style="height: 30px;" class="form-control" placeholder="JJ/MM/AAAA">
                </div>
              </div>
              <div class="col-md-4 mb-5" class="form-group">
                <label style="color : white;">Semestre*</label>
                <div class="input-group mb-2" style="height: 30px; width: 80%;">
                  <div class="input-group-text" style="height: 30px; width: 15%;">A</div>
                  <input type="text" style="height: 30px;" class="form-control" placeholder="JJ/MM/AAAA">
                </div>
              </div>
    
              <div class="col-md-4 mb-5" class="form-group">
                <label>Déléguant*</label>
                <input id="ma_bordure" type="text" style="height: 30px; width: 80%;" placeholder="Nom" class="form-control">
              </div>
              <div class="col-md-4 mb-5" class="form-group">
                <label>Date visa*</label>
                <input id="ma_bordure" type="text" style="height: 30px; width: 80%;" placeholder="JJ/MM/AAAA"
                  class="form-control">
              </div>
              <div class="col-md-4 mb-5" class="form-group">
                <label>Date de démarrage*</label>
                <input id="ma_bordure" type="text" style="height: 30px; width: 80%;" placeholder="JJ/MM/AAAA"
                  class="form-control">
              </div>
    
    
              <div class="col-md-4 mb-5" class="form-group">
                <label>Délégataire*</label>
                <input id="ma_bordure" type="text" style="height: 30px; width: 80%;" placeholder="Nom" class="form-control">
              </div>
              <div class="col-md-4 mb-4" class="form-group">
                <label>Durée*</label>
                <input id="ma_bordure" type="text" style="height: 30px; width: 80%;" placeholder="Durée du contrat"
                  class="form-control">
              </div>
            </div>
            <br><br><br><br><br><br><br><br><br>
            <div class="row">
    
              <div class="col-md-2" style="padding-left: 85px;"></div>
              <div class="col-md-8">
        
              <div class="pagination">
            
        <a href="{% url 'contrat' %}" ><button class="btn btn-primary" id="btttn"></button></a>
        <a href="" ><button class="btn btn-primary"></button></a>
        <a href="{% url 'Investissement' %}" ><button class="btn btn-primary"></button></a>
        <a href="{% url 'Patrimoine' %}" ><button class="btn btn-primary"></button></a>
        <a href="{% url 'Effectif' %}" ><button class="btn btn-primary"></button></a>
        <a href="{% url 'Service' %}" ><button class="btn btn-primary"></button></a>
        <a href="{% url 'Commercial' %}" ><button class="btn btn-primary"></button></a>
        <a href="{% url 'Energy' %}" ><button class="btn btn-primary"></button></a>
              </div>
              </div> 
              <div class="col-md-1"><button type="button" class="btn btn-primary" id="suivant"><a class="page-link" href="">Suivant</a></button></div>
            </div>
                      
                          
                      
                
            </div> 
          </div>
        </div>
      </div>
    
  
  </body></html>

  {% endblock content %}