{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href=" {% static 'bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href=" {% static 'css/page.css' %}">
<script src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.min.js'%}"></script>
{% block content %}

<html>
<head>

</head>
<body>
    <div class="content">
        <h6 style=" color : rgb(109, 105, 105)"><span>Gestion des contrats ></span> Ajouter un contrat</h6>
        <div class="white-square">
          <form method="POST">
            {% csrf_token %}
          <div id="Id_contrat" class="container-fluid mb-2" style="padding-left: 30px;">
            <h5 style=" color : gray">Investissement contractuels</h5>
          </div>
          <div class="row">
            <div class="col-md-6">
          <div id="Id_contrat"  style="padding-left: 40px;">
            <h6 style=" color : rgb(0, 0, 0) ; font-size: 16px; font-weight: bold ; ">DÉLÉGATAIRE</h6>
          </div>
            </div>
            <div class="col-md-6">
                <div id="Id_contrat"  style="padding-left: 40px;">
                    <h6 style=" color : rgb(0, 0, 0) ; font-size: 16px; font-weight: bold ; ">DÉLÉGUANT</h6>
                  </div>
            </div>
          </div>
   
    <div class="row">
         <div class="col-md-6" style="padding-left:70px;  padding-right:60px;">
        <div class="frame">

          <div class="row">
            <div class="fieldWrapper">
              <div class="col-md-12 mb-2">
              <label for="{{ form.partenaire_id.id_for_label }}">Partenaire*</label>
              </div>
              <div class="col-md-12 mb-2 form-group">
                <div class="input-group mb-2" style="height: 30px; width: 80%;">
                    <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
                    {{ form.partenaire_id }}
                    
            </div>
          </div>  
          </div>
      </div>
            
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <label for="montant_investissement">Montant investissement*</label>
                </div>
                <div class="col-md-12 mb-2 form-group">
                    <div class="input-group mb-2" style="height: 30px; width: 80%;">
                        <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
                        <input type="text" style="height: 35px;" class="form-control" id="montant_investissement" name="montant_investissement" placeholder="Montant en DH" required>
                    </div>
                </div>
        <div class="row">
            <div class="col-md-12 mb-2">
              <label for="nombre_bus">Nombre de bus*</label>
          </div>
          <div class="col-md-12 mb-2 form-group">
              <div class="input-group mb-2" style="height: 30px; width: 80%;">
                  <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
                  <input type="text" style="height: 35px;" class="form-control" id="nombre_bus" name="nombre_bus" required>
              </div>
          </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <label for="nombre_abris">Nombre d'Abris*</label>
    </div>
    <div class="col-md-12 mb-2 form-group">
        <div class="input-group mb-2" style="height: 30px; width: 80%;">
            <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
            <input type="text" style="height: 35px;" class="form-control" id="nombre_abris" name="nombre_abris" required>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12 mb-2">
    <label for="nombre_arrets">Nombre d'Arrêts*</label>
</div>
<div class="col-md-12 mb-2 form-group">
    <div class="input-group mb-2" style="height: 30px; width: 80%;">
        <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
        <input type="text" style="height: 35px;" class="form-control" id="nombre_arrets" name="nombre_arrets" required>
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col-md-12 mb-2">
      <label for="nombre_aires_stationnement">Nombre d'Aires de stationnement*</label>
  </div>
  <div class="col-md-12 mb-2 form-group">
      <div class="input-group mb-2" style="height: 30px; width: 80%;">
          <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
          <input type="text" style="height: 35px;" class="form-control" id="nombre_aires_stationnement" name="nombre_aires_stationnement" required>
      </div>
  </div>
</div>
      </div>
        </div>
         
     
        <div class="col-md-6" style="padding-left:70px;  padding-right:60px;">
          <div class="frame">
              
                  <div class="row">
                    <div class="col-md-12 mb-2">
                      <label for="montant_investissement">Montant investissement*</label>
                  </div>
                  <div class="col-md-12 mb-2 form-group">
                      <div class="input-group mb-2" style="height: 30px; width: 80%;">
                          <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
                          <input type="text" style="height: 35px;" class="form-control" id="montant_investissement" name="montant_investissement" placeholder="Montant en DH" required>
                      </div>
                  </div>
          <div class="row">
              <div class="col-md-12 mb-2">
                <label for="nombre_bus">Nombre de bus*</label>
            </div>
            <div class="col-md-12 mb-2 form-group">
                <div class="input-group mb-2" style="height: 30px; width: 80%;">
                    <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
                    <input type="text" style="height: 35px;" class="form-control" id="nombre_bus" name="nombre_bus" required>
                </div>
            </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-2">
          <label for="nombre_abris">Nombre d'Abris*</label>
      </div>
      <div class="col-md-12 mb-2 form-group">
          <div class="input-group mb-2" style="height: 30px; width: 80%;">
              <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
              <input type="text" style="height: 35px;" class="form-control" id="nombre_abris" name="nombre_abris" required>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-2">
      <label for="nombre_arrets">Nombre d'Arrêts*</label>
  </div>
  <div class="col-md-12 mb-2 form-group">
      <div class="input-group mb-2" style="height: 30px; width: 80%;">
          <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
          <input type="text" style="height: 35px;" class="form-control" id="nombre_arrets" name="nombre_arrets" required>
      </div>
  </div>
  </div>
  
  <div class="row">
      <div class="col-md-12 mb-2">
        <label for="nombre_aires_stationnement">Nombre d'Aires de stationnement*</label>
    </div>
    <div class="col-md-12 mb-2 form-group">
        <div class="input-group mb-2" style="height: 30px; width: 80%;">
            <div class="input-group-text" style="height: 35px; width: 10%;">C</div>
            <input type="text" style="height: 35px;" class="form-control" id="nombre_aires_stationnement" name="nombre_aires_stationnement" required>
        </div>
    </div>
  </div>
        </div>
          </div>
    <br><br>
  



    
    <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <h6 style=" color : rgb(0, 0, 0) ; font-size: 14px; font-weight: bold ; ">Autre partenaire<a href="{% url 'Partenaire' %}">
      <button class="btn btn-primary" style="width: 25px; height: 25px; border-radius: 50%; position: relative;">
      <div style="font-size: 25px;top: 40%; position: absolute;  transform: translate(-50%, -50%);">+</div>
    </button></a></h6>
  </div>
</div>
</div>
</div>
    <br>
    <div class="row">
    
      <div class="col-md-2" style="padding-left: 85px;"><button type="button" class="btn btn-primary" id="suivant"><a class="page-link" href="">Précédent</a></button></div>
      <div class="col-md-8">

      <div class="pagination">
    
        <a href="{% url 'contrat' %}"><button class="btn btn-primary" ></button></a>
        <a href=""><button class="btn btn-primary"></button></a>
        <a href=""><button class="btn btn-primary" id="btttn"></button></a>
        <a href="{% url 'Patrimoine' %}" ><button class="btn btn-primary" ></button></a>
        <a href="{% url 'Effectif' %}"><button class="btn btn-primary"></button></a>
        <a href="{% url 'Service' %}"><button class="btn btn-primary"></button></a>
        <a href=""><button class="btn btn-primary"></button></a>
        <a href="{% url 'Energy' %}"><button class="btn btn-primary"></button></a>
      </div>
      </div> 
      <div class="col-md-1"><button type="submit" class="btn btn-primary" id="suivant">Suivant</button></div>
    </div>

  </form>
        </div>
    </div>
  
  
</body>
</html>



{% endblock content %}