{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href=" {% static 'bootstrap-5.2.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href=" {% static 'css/pg.css' %}">
<script src="{% static 'bootstrap-5.2.3-dist/js/bootstrap.min.js'%}"></script>
{% block content %}

<html>
<head>

</head>
<body>
    <div class="content">
        <h6 style=" color : rgb(109, 105, 105)"><span>Gestion des contrats ></span> Ajouter un contrat</h6>
        <div class="white-square">
          <div id="Id_contrat" class="container-fluid mb-2" style="padding-left: 30px;">
            <h5 style=" color : gray">Patrimoine</h5>
          </div>
          <div class="row">
            <div class="col-md-6">
          <div id="Id_contrat"  style="padding-left: 40px;">
            <h6 style=" color : rgb(0, 0, 0) ; font-size: 16px; font-weight: bold ; ">MATÉRIEL ROULANT EN CIRCULATION</h6>
          </div>

          </div>
   
    <div class="row">
         <div class="col-md-6" style="padding-left:70px;  padding-right:60px;">
        <div class="frame">
            
    <div class="row">
                <div class="col-md-12 mb-2" >Bus standards(11 mètre)*</div>
                <div class="col-md-4 mb-3" class="form-group">
                    <div class="input-group mb-2" style="height: 30px; width: 100%;">
                      <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
                      <input type="text" style="height: 35px ;" class="form-control"id="Nombre"name="Nombre">
                    </div>
                  </div>
                  <div class="col-md-4 mb-3" class="form-group">
                    <div class="input-group mb-2" style="height: 30px; width: 100%;">
                      <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
                      <input type="text" style="height: 35px ;" class="form-control"id="Age"name="Age">
                    </div>
                  </div>
                  <div class="col-md-4 mb-3" class="form-group">
                    <div class="input-group mb-2" style="height: 30px; width: 100%;">
                      <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
                      <input type="text" style="height: 35px ;" class="form-control" id="Km"name="Km">
                    </div>
                  </div>  
                 
    </div>
    <div class="row">
            <div class="col-md-12 mb-2" >Bus standards(12 mètre)*</div>
            <div class="col-md-4 mb-3" class="form-group">
                <div class="input-group mb-2" style="height: 30px; width: 100%;">
                  <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
                  <input type="text" style="height: 35px ;" class="form-control">
                </div>
              </div>
              <div class="col-md-4 mb-3" class="form-group">
                <div class="input-group mb-2" style="height: 30px; width: 100%;">
                  <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
                  <input type="text" style="height: 35px ;" class="form-control" >
                </div>
              </div>
              <div class="col-md-4 mb-3" class="form-group">
                <div class="input-group mb-2" style="height: 30px; width: 100%;">
                  <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
                  <input type="text" style="height: 35px ;" class="form-control" >
                </div>
              </div>  
             
    </div>
    <div class="row">
        <div class="col-md-12 mb-2" >Bus standards(13 mètre)*</div>
        <div class="col-md-4 mb-3" class="form-group">
            <div class="input-group mb-2" style="height: 30px; width: 100%;">
              <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
              <input type="text" style="height: 35px ;" class="form-control">
            </div>
          </div>
          <div class="col-md-4 mb-3" class="form-group">
            <div class="input-group mb-2" style="height: 30px; width: 100%;">
              <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
              <input type="text" style="height: 35px ;" class="form-control" >
            </div>
          </div>
          <div class="col-md-4 mb-3" class="form-group">
            <div class="input-group mb-2" style="height: 30px; width: 100%;">
              <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
              <input type="text" style="height: 35px ;" class="form-control" >
            </div>
          </div>  
         
    </div>
    <div class="row">
        <div class="col-md-12 mb-2" >Bus standards(15 mètre)*</div>
        <div class="col-md-4 mb-3" class="form-group">
            <div class="input-group mb-2" style="height: 30px; width: 100%;">
              <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
              <input type="text" style="height: 35px ;" class="form-control">
            </div>
          </div>
          <div class="col-md-4 mb-3" class="form-group">
            <div class="input-group mb-2" style="height: 30px; width: 100%;">
              <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
              <input type="text" style="height: 35px ;" class="form-control" >
            </div>
          </div>
          <div class="col-md-4 mb-3" class="form-group">
            <div class="input-group mb-2" style="height: 30px; width: 100%;">
              <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
              <input type="text" style="height: 35px ;" class="form-control" >
            </div>
          </div>  
        
    </div>
    <div class="row">
      <div class="col-md-12 mb-2" >Bus standards(18 mètre)*</div>
      <div class="col-md-4 mb-3" class="form-group">
          <div class="input-group mb-2" style="height: 30px; width: 100%;">
            <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
            <input type="text" style="height: 35px ;" class="form-control">
          </div>
        </div>
        <div class="col-md-4 mb-3" class="form-group">
          <div class="input-group mb-2" style="height: 30px; width: 100%;">
            <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
            <input type="text" style="height: 35px ;" class="form-control" >
          </div>
        </div>
        <div class="col-md-4 mb-3" class="form-group">
          <div class="input-group mb-2" style="height: 30px; width: 100%;">
            <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
            <input type="text" style="height: 35px ;" class="form-control" >
          </div>
        </div>  
      
  </div>
  

      </div>
        </div>
         
        <div class="col-md-6"style="padding-left:70px; padding-right:60px; ">
          <div class="frame" >
            <div class="row">
              <div class="col-md-12 mb-2" >Bus hybride*</div>
              <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
                    <input type="text" style="height: 35px ;" class="form-control">
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>  
              
            </div>
            <div class="row">
              <div class="col-md-12 mb-2" >Bus articulés*</div>
              <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
                    <input type="text" style="height: 35px ;" class="form-control">
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>  
              
            </div>
            <div class="row">
              <div class="col-md-12 mb-2" >Bus électrique*</div>
              <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
                    <input type="text" style="height: 35px ;" class="form-control">
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>  
              
            </div>
            <div class="row">
              <div class="col-md-12 mb-2" >Bus sites propres*</div>
              <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 40%;"><div class="style">Nombre</div></div>
                    <input type="text" style="height: 35px ;" class="form-control">
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 50%;"><div class="style">Age moyen</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>
                <div class="col-md-4 mb-3" class="form-group">
                  <div class="input-group mb-2" style="height: 30px; width: 100%;">
                    <div class="input-group-text" style="height: 35px; width: 60%;"><div class="style">Km parcourus</div></div>
                    <input type="text" style="height: 35px ;" class="form-control" >
                  </div>
                </div>  
              
            </div>
          
          </div>
        </div>
      </div>

    </div>
    <br><br>
    <div class="row">
    
      <div class="col-md-2" style="padding-left: 85px;"><button type="button" class="btn btn-primary" id="suivant"><a class="page-link" href="">Précédent</a></button></div>
      <div class="col-md-8">

      <div class="pagination">
    
        <a href="{% url 'contrat' %}"><button class="btn btn-primary" ></button></a>
        <a href=""><button class="btn btn-primary"></button></a>
        <a href=""><button class="btn btn-primary"></button></a>
        <a href="{% url 'Patrimoine' %}"><button style="width: 50px;" class="btn btn-primary" id="btttn"></button></a>
        <a href="{% url 'Patrimoine_second' %}"><button style="width: 50px;" class="btn btn-primary" ></button></a>
        <a href="{% url 'Effectif' %}"><button class="btn btn-primary"></button></a>
        <a href="{% url 'Service' %}"><button class="btn btn-primary"></button></a>
        <a href=""><button class="btn btn-primary"></button></a>
        <a href="{% url 'Energy' %}"><button class="btn btn-primary"></button></a>
      </div>
      </div> 
      <div class="col-md-1"><button type="button" class="btn btn-primary" id="suivant"><a class="page-link" href="{% url 'Patrimoine_second' %}">Suivant</a></button></div>
    </div>

        </div>
    </div>
  
  
</body>
</html>



{% endblock content %}